<app-custom-loader *ngIf="isLoading"></app-custom-loader>

<div class="m-sm-1 m-lg-5 row mb-8">
    <div class="row mb-5" *ngIf="customerList.length > 0 || selectedCustomers.length > 0">
        <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer">
            <div class="card card-1 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Enquiry
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{customerList.length}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer">
            <div class="card card-4 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Pending Enquiry
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{getInterestedCount('may-be-in-future')}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer">
            <div class="card card-3 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Interested Enquiry
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{getInterestedCount('interested')}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer">
            <div class="card card-2 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Completed Enquiry
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{getInterestedCount('Done')}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-toolbar>
        <div style="width: 100%;">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6 mb-3 mb-md-0">
                    <p-dropdown [options]="statusOptions" placeholder="Filter By Interest"
                    [showClear]="true" (onChange)="filterInterest($event)"></p-dropdown>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6 mb-3 mb-md-0">
                    <input type="text" placeholder="Search Followup" (input)="applyFilterGlobal($event, 'contains')"
                        [(ngModel)]="searchText" class="form-control mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 text-end mb-3">
                    <p-button label="New Customer Enquiry" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"></p-button>
                        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                        class="p-button-success mr-2" pTooltip="Export data" tooltipPosition="bottom">
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-5 mb-5">
        <div class="card ml-2" style="min-height: 100%;">
            <p-table #tableref [value]="customerList" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [reorderableColumns]="true" [columns]="cols"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 25, 50]" [tableStyle]="{ 'width': 'auto', 'min-width' : '100%' }"
                >
                <ng-template pTemplate="header">
                    <tr *ngIf="customerList.length > 0">
                        <th style="text-align: center !important;">S No</th>
                        <ng-container *ngFor="let col of cols">
                            <th [pSortableColumn]="col.field" style="flex-grow: 1; text-align: center !important;">
                                {{ col.header }}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </ng-container>
                        <th>Comments</th>
                        <th style="text-align: center !important;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                    <tr *ngIf="customerList.length > 0">
                        <td style="text-align: center;">{{rowIndex+1}}</td>
                        <td style="text-align: center;">{{ customer.name }}</td>
                        <td style="text-align: center;">{{ customer.phone }}</td>
                        <td style="text-align: center;">
                            <button [ngClass]="getCustomerStatusClass(customer.interest)" style="width: 130px;">{{customer.interest == 'may-be-in-future' ? 'In-Future' : customer.interest }}</button>
                        </td>
                        <td style="text-align: center;">{{ customer.place }}</td>
                        <td style="text-align: center;">{{ customer.createdAt | dateformat}}</td>
                        <td style="text-align: start;word-wrap: break-word;">
                            <p *ngIf="!customer.isEdit">{{ customer.comments ? customer.comments : '-' }}</p>
                            <textarea [(ngModel)]="customer.comments" *ngIf="customer.isEdit" placeholder="Enyter Comments if any..">

                            </textarea>
                        </td>
                        <td style="text-align: center;">
                            <button class="btn btn-primary" *ngIf="!customer.isEdit"
                                    (click)="customer.isEdit = true">Update</button>
                            <p-dropdown [options]="statusOptions" *ngIf="customer.isEdit"
                            [(ngModel)]="customer.interest"
                            (onChange)="updateInterest(customer)"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length" style="text-align: center;">
                            No records found.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Customer</h5>
                <button type="btn btn-primary" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-form-field class="mt-5 mb-2 full-width">
                    <mat-label>Enter Customer Name</mat-label>
                    <input matInput type="text" [(ngModel)]="newCustomerFollowup.name">
                </mat-form-field>

                <mat-form-field class="mt-3 mb-2 full-width">
                    <mat-label>Enter Customer Phone</mat-label>
                    <input matInput type="number" class="no-arrow" [(ngModel)]="newCustomerFollowup.phone">
                </mat-form-field>

                <mat-form-field class="mt-3 mb-2 full-width">
                    <mat-label>Enter Customer Place</mat-label>
                    <input matInput type="text" [(ngModel)]="newCustomerFollowup.place">
                </mat-form-field>

                <mat-form-field class="mt-3 full-width">
                    <mat-label>Enquiry</mat-label>
                    <textarea [(ngModel)]="newCustomerFollowup.comments" matInput
                        placeholder="Enter Customer Enquiry"></textarea>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" [disabled]="checkValidations()"
                    (click)="onAddNewFollowUp()" class="btn btn-primary">Save
                    changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>