@import "src/_variables.scss";

.customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.customer-item {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.customer-info {
    flex: 1;
}

.customer-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.customer-phone {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.customer-interest {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.customer-place {
    font-size: 1rem;
}

.customer-action {
    flex-shrink: 0;
    margin-left: 1rem;
}

.follow-up-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: $card-bg;
    color: $primary;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-center {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.row {
    display: flex !important;
}

.card {
    flex-grow: 1 !important;
}


.full-width {
    width: 100% !important;
}

span,
.highlight {
    color: $primary;
    font-weight: 500;
}

.wrapped-text {
    word-wrap: break-word;
    max-width: 100%;
}

.card-3 {
    background: #9796f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-2 {
    background: #6190E8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-1 {
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-text-color {
    color: $card-label !important;
    font-weight: 600;
}

.fa-2x {
    color: $primary !important;
}