
@import "src/_variables.scss";

.p-datatable .p-datatable-thead > tr > th {
    width: inherit !important;
}

th{
    // color: $card-label !important;
    background: $card-bg !important;
    color: $primary !important;
}

.nav-link{
    cursor: pointer;
    color: $third;
    text-decoration: underline;
}

::ng-deep .p-toolbar{
    margin: 0 2rem !important;
}

::ng-deep .p-datatable .p-sortable-column:focus{
    box-shadow:  none !important;
}

::ng-deep .p-button {
    background-color: $card-bg !important;
    border-color: $card-bg !important;
    color: $primary !important;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon{
    // color: $primary !important;
    color: $third !important;

}


::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon{
    // color: $card-label;
        color: $primary !important;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight{
    color: $third !important;
}

::ng-deep .p-element:hover .p-sortable-column:hover .p-sortable-column-icon {
    // color: $primary !important;
    color: $third !important;

}

::ng-deep .p-element:hover {
    // color: $primary !important;
    color: $third !important;

}



::ng-deep .p-datatable .p-datatable-thead > tr > th{
    padding: 10px 0 !important;
}