
@import "src/_variables.scss";

.p-datatable .p-datatable-thead > tr > th {
    width: inherit !important;
}

th{
    // color: $text-white !important;
    background: $card-bg !important;
}

.nav-link{
    cursor: pointer;
    color: $third;
}

::ng-deep .p-toolbar{
    margin: 0 2rem !important;
}
