<div class="spinnerContainer" [ngStyle]="{'z-index': zIndexValue}">
    <div class="spinner">
      <div class="extra-circle"></div>
      <svg viewBox="0 0 120 120" preserveAspectRatio="xMidYMid meet">
        <circle r="28" cx="60" cy="60" fill="transparent" stroke-width="6" stroke-dasharray="43.982"
          class="spinner-defaults rotate-fast"></circle>
        <circle r="36" cx="60" cy="60" fill="transparent" stroke-width="2" stroke-dasharray="1 2"
          class="spinner-defaults rotate"></circle>
        <circle r="36" cx="60" cy="60" fill="transparent" stroke-width="5" stroke-dasharray="1 10"
          class="spinner-defaults rotate-reverse"></circle>
        <circle r="46" cx="60" cy="60" fill="transparent" stroke-width="4" stroke-dasharray="36.128"
          class="spinner-defaults rotate-random"></circle>
      </svg>
    </div>
  </div>
  