@import "src/_variables.scss";

th,td{
    width: 25%;
}

.disabled{
    background-color: darkgray;
}

.box{
    background-color: $secondary;
    padding: 8px;
    border-radius: 5px;
    color: $text-white;
}

::ng-deep .p-calendar .p-datepicker {
    z-index: 1040 !important;
}

::ng-deep .p-calendar {
    width: 80%;
}