@import "src/_variables.scss";

th,td{
    width: auto;
}

.disabled{
    background-color: darkgray;
}

.box{
    background-color: $secondary;
    padding: 8px;
    border-radius: 5px;
    color: $text-white;
}

.is-marked{
    background-color: $secondary !important;
    color: white !important;
}

::ng-deep .p-calendar .p-datepicker {
    z-index: 1040 !important;
}

::ng-deep .p-calendar {
    width: 80%;
}

.w-100p{
    width: 100px;
}

.box{
    margin-top: 1rem;
    border: 1px solid darkseagreen;
}

.min-height-150p{
    min-height: 150px;
}

.align-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}