<app-custom-loader *ngIf="isLoading"></app-custom-loader>

<div class="pt-5 pl-3">
    <mat-icon class="cursor-pointer" (click)="onPreviousPage()">arrow_back</mat-icon>
    <div class="text-end mb-3" *ngIf="formType == 'customers'">
        <p-button label="New Invoice" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
            data-bs-target="#exampleModal"></p-button>
    </div>
    <div>
        <div class="row" *ngIf="formType == 'customers'">
            <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer" matTooltip="export list of invoices"
                matTooltipPosition="above" (click)="onClickCardBox('invoices')">
                <div class="card card-1 border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs card-text-color text-uppercase mb-1">
                                    Invoices
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{inVoicesList?.length}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-file-invoice fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer" matTooltip="export list of products"
                matTooltipPosition="above" (click)="onClickCardBox('products')">
                <div class="card card-5 border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs card-text-color text-uppercase mb-1">
                                    Products
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{servicesList?.length}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-bag-shopping fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer">
                <div class="card card-2 border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs card-text-color text-uppercase mb-1">
                                    Total Amount
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">&#8377; {{totalRevenue}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-3 mb-8" *ngIf="clientInfo">
            <p-tabView (onChange)="switchHeaders($event);">
                <p-tabPanel header="Profile">
                    <p-card [header]="clientInfo['name']" [subheader]="'Joined - '+getDate(clientInfo['createdAt'])">
                        <ng-template pTemplate="header">
                            <img alt="Card" class="img-size" src="../../../../../assets/clients/png/client.png" />
                        </ng-template>
                        <div class="text-end m-3 mb-3" *ngIf="formType != 'customers'">
                            <label class="mb-2">Status</label>
                            <a *ngIf="!clientInfo.isEdit" [ngClass]="checkEMployeeStatus(clientInfo.status)">{{clientInfo.status | titlecase}}</a>
                            <select *ngIf="clientInfo.isEdit" class="form-select" [(ngModel)]="clientInfo.status">
                                <option *ngFor="let option of statusTypes">{{option}}</option>
                            </select>
                        </div>
                        <div class="row" *ngIf="clientInfo.isEdit">
                            <div class="col-lg-4 col-sm-6">
                                <div class="key">
                                    <ng-container>
                                        <label>Employee Name</label>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-6">
                                <div class="value">
                                    <input type="text" class="form-control mb-1" [(ngModel)]="clientInfo['name']">
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngFor="let key of clientInfoKeys">
                            <div class="col-lg-4 col-sm-6">
                                <div class="key">
                                    <ng-container
                                        *ngIf="key.field_key != 'createdAt' && key.field_key != 'updatedAt' && key.field_key != 'name' && key.field_key != '__v'">
                                        <label>{{key.field_name | uppercase}}</label>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-6" *ngIf="!isArrayCheck(clientInfo[key.field_key])">
                                <div class="value">
                                    <ng-container
                                        *ngIf="key.field_key != 'createdAt' && key.field_key != 'updatedAt' && key.field_key != 'name' && key.field_key != '__v'">
                                        <h3 *ngIf="!clientInfo.isEdit || key.field_key == 'empId'" class="wrapped-text">{{clientInfo[key.field_key]}}</h3>
                                        <input *ngIf="clientInfo.isEdit && key.field_key != 'empId'" [type]="key.field_type" class="form-control mb-1" [(ngModel)]="clientInfo[key.field_key]">
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-6" *ngIf="isArrayCheck(clientInfo[key.field_key])">
                                <ng-container>
                                    <mat-chip-set class="example-chip" cdkDropListOrientation="horizontal">
                                        <ng-container *ngFor="let obj of clientInfo[key.field_key]">
                                            <mat-chip class="example-box" *ngIf="obj.fieldValue">
                                                <label>{{ obj.fieldName | titlecase }}</label>
                                            </mat-chip>
                                            <mat-chip class="example-box" *ngIf="obj.fieldValue === undefined">
                                                <label>{{ obj }}</label>
                                            </mat-chip>
                                        </ng-container>
                                    </mat-chip-set>
                                </ng-container>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <p-button (click)="onEdit()" *ngIf="formType != 'customers' && !clientInfo.isEdit"
                                label="Edit" icon="pi pi-user" styleClass="p-button-info"></p-button>
                            <p-button (click)="onSave()" *ngIf="formType != 'customers' && clientInfo.isEdit"
                                label="Save" icon="pi pi-check" styleClass="p-button-success"></p-button>
                            <p-button (click)="onCancel()" *ngIf="formType != 'customers' && clientInfo.isEdit"
                                label="Cancel" icon="pi pi-times" [style]="{'margin-left': '5px'}"
                                styleClass="p-button-secondary"></p-button>
                        </ng-template>
                    </p-card>
                </p-tabPanel>
                <p-tabPanel *ngIf="formType == 'customers'" header="Previous Purchase">
                    <p-timeline [value]="inVoicesList" align="alternate" styleClass="customized-timeline">
                        <ng-template pTemplate="content" let-event>
                            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                                <i ngClass="pi pi-check"></i>
                            </span>
                        </ng-template>
                        <ng-template pTemplate="content" let-event>
                            <p-card [header]="'Bill No - '+ event.billNo" [subheader]="event.createdAt">
                                <h3 style="font-weight: 500;">
                                    Bill Amount - Rs.{{ event.finalTotal }}
                                </h3>
                                <mat-chip-set class="example-chip" cdkDropListOrientation="horizontal">
                                    <mat-chip class="example-box" *ngFor="let service of event.products">
                                        {{service.name}} - <span class="card-text-color">Rs.{{service.price}}</span>
                                    </mat-chip>
                                </mat-chip-set>

                                <a class="mt-3 cursor-pointer" (click)="onDownloadBill(event)">Download Invoice</a>
                                <h5 class="mt-5">Billed By - {{event.billedBy || ''}}</h5>
                                <!-- <button pButton label="Read more" class="p-button-text"></button> -->
                            </p-card>
                        </ng-template>
                    </p-timeline>
                </p-tabPanel>
                <p-tabPanel *ngIf="formType == 'employees'" header="Salary">
                    <div class="my-3">
                        <full-calendar id="fullCalendar" *ngIf="initializedCall" [options]="calendarOptions"></full-calendar>
                        <div id="eventTooltip">
                            {{ commentSelected }}
                          </div>
                    </div>
                    <form (ngSubmit)="calculateSalary()" #salaryForm="ngForm">
                        <h2 class="text-decoration-underline">Calculate Salary</h2>
                        <div class="form-group mt-3">
                          <label for="monthlySalary">Monthly Salary</label>
                          <input type="number" [disabled]="true" id="monthlySalary" name="monthlySalary" [(ngModel)]="monthlySalary" required>
                        </div>
                        <div class="form-group">
                          <label for="daysPresent">No of Days Present</label>
                          <input type="number" [disabled]="true" id="daysPresent" name="daysPresent" [(ngModel)]="daysPresent" required>
                        </div>
                        <div class="form-group">
                          <label for="calculationDays">Calculation Days</label>
                          <select [disabled]="setDefaultCalculationDays" id="calculationDays" name="calculationDays" [(ngModel)]="calculationDays" required>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                          </select>
                          <div class="form-group mt-2" *ngIf="calculationDays > 0">
                            <input  type="checkbox" id="setDefaultCalculationDays" (change)="updateDefaultCalculationDays()" name="setDefaultCalculationDays" [(ngModel)]="setDefaultCalculationDays">
                            <span for="setDefaultCalculationDays"> Set as Default</span>
                        </div>
                        </div>
                       
                        <div class="form-group">
                          <label for="allowance">Allowance</label>
                          <input type="number" id="allowance" name="allowance" [(ngModel)]="allowance" required>
                        </div>
                        <div class="form-group">
                          <label for="tax">Tax</label>
                          <input type="number" id="tax" name="tax" [(ngModel)]="tax" required>
                        </div>
                        <div class="form-group">
                          <label for="insurance">Insurance</label>
                          <input type="number" id="insurance" name="insurance" [(ngModel)]="insurance" required>
                        </div>
                        <div class="form-group">
                          <label for="pf">PF</label>
                          <input type="number" id="pf" name="pf" [(ngModel)]="pf" required>
                        </div>
                        <div class="form-group row">
                          <button class="ml-3 col mb-2" type="submit" [disabled]="!salaryForm.valid">Show Calculation</button>
                          <button (click)="savePayslip()" class="ml-3 col mb-2" [disabled]="!salaryForm.valid">Generate Payslip</button>
                        </div>
                      </form>
                      
                      <div *ngIf="totalSalary" class="salary-box">
                        <div>
                          <p class="highlighted">Total Salary: {{ totalSalary.toFixed(2) }}</p>
                        </div>
                        <div>
                          <p class="text-decoration-underline">Earnings</p>
                          <p>Total Salary: <span class="p-color">Rs.{{ totalSalary.toFixed(2) }}</span>
                          <p >Allowance: <span class="p-color">Rs.{{ allowance.toFixed(2) }}</span>
                          <p class="highlighted">Total Earnings: Rs.{{ totalEarnings.toFixed(2) }}</p>
                        </div>
                        <div>
                          <p class="text-decoration-underline">Deductions</p>
                          <p>Tax: <span class="p-color">Rs.{{ tax.toFixed(2) }}</span>
                          <p>Insurance: <span class="p-color">Rs.{{ insurance.toFixed(2) }}</span>
                          <p>PF: <span class="p-color">Rs.{{ pf.toFixed(2) }}</span>
                          <p class="highlighted">Total Deductions: <span>Rs.{{ totalDeductions.toFixed(2) }}</span>
                        </div>
                        <div>
                          <p class="highlighted-imp">Net Salary: <span>Rs.{{ netSalary.toFixed(2) }}</span>
                        </div>
                      </div>                      
                </p-tabPanel>
                <p-tabPanel *ngIf="formType == 'employees'" header="Payslips">
                    <app-employee-payslips *ngIf="isAllPayslips" [empId]="clientInfo.empId"></app-employee-payslips>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>


<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Services to Bill</h5>
                <button type="btn btn-primary" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row mt-4">
                        <div class="col-sm-12 col-lg-6 my-3" *ngFor="let category of totalServicesList;let j = index">
                            <h4 class="text-decoration-underline">Category - {{category.categoryName}}</h4>
                            <div *ngFor="let option of category.items">
                                <span>
                                    <input class="form-check-input" type="checkbox"
                                        (change)="onServiceOptionChange($event, category.categoryName, option)">
                                    {{ option.itemName }} - <span
                                        style="color: blueviolet;">Rs.{{option.itemPrice}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="" data-bs-dismiss="modal" (click)="onAddNewInvoice()"
                    class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
