@import "src/_variables.scss";

label{
    color: $secondary;
    font-weight: 500;
}

::ng-deep .p-card{
    background-color: $pcard !important;
}

.img-size{
    width: 300px;
    height: 300px;
}

::ng-deep .p-card-header{
    text-align: center !important;
}

.card-3 {
    background: #9796f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-2 {
    background: #6190E8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-1 {
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-4 {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-5 {
    background: #acb6e5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-2x {
    color: $primary !important;
}

.card-text-color {
    color: $card-label !important;
    font-weight: 600;
}

.card-box{
    background: lightgray;
    padding: 5px 20px;
    border-radius: 20px;
    color: darkslategrey;
}

.no-card-box {
    /* Add your desired styles for the false condition */
    /* For example, you can set display: none; to hide the element */
    display: none !important;
}

::ng-deep .p-card-header{
    width: 50% !important;
}

::ng-deep .p-timeline-event-content{
    margin-bottom: 10px !important;
}

::ng-deep .p-card-subtitle{
    text-align: start !important;
}

::ng-deep .p-card-title{
    text-align: start !important;
}

::ng-deep .p-card-content{
    text-align: start !important;
}
  
.f-500{
    font-weight: 400 !important;
    color: black;
    font-size: 14px !important;
}

.page-spinner {
    position: fixed;
    top: 30%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: auto;
  }

  .wrapped-text {
    word-wrap: break-word;
    max-width: 100%;
  }