<app-custom-loader *ngIf="isLoading"></app-custom-loader>



<div class="m-sm-1 m-lg-5 mb-8">
    <div class="row mb-5" *ngIf="balanceList.length > 0">
        <div class="col-lg-4 mt-2 col-md-6 col-sm-12 cursor-pointer" >
            <div class="card card-1 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Bill Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                &#8377; {{totalAmountSum}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 col-md-6 col-sm-12 cursor-pointer" >
            <div class="card card-2 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Paid Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                &#8377; {{paidAmountSum}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 col-md-6 col-sm-12 cursor-pointer" >
            <div class="card card-3 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Balance Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                &#8377; {{balanceAmountSum}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-end mb-3">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group position-static">
                <input type="text" class="form-control custom-date"
                  [locale]="{ format: 'DD-MM-YYYY', daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S']}"
                  ngxDaterangepickerMd [(ngModel)]="selectedDates"
                  [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" (ngModelChange)="ngModelDateChange($event)"
                  [ranges]="ranges" [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                  placeholder="Filter by dates" />
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="height: 100%;">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
              </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-6 col-sm-12 col-md-6 mb-3 mb-md-0">
            <input type="text" (input)="updateFilteredItems($event)" placeholder="Search bill details" [(ngModel)]="searchText" class="form-control">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 text-end">
            <!-- <p-button label="New Bill Balance" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal"></p-button> -->
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            List Of Bill Balance
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S no</th>
                            <th>Customer Name</th>
                            <th>Bill No</th>
                            <th>Phone</th>
                            <th>Date</th>
                            <th>Total Bill</th>
                            <th>Paid Bill</th>
                            <th>Balance Bill</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let balance of filteredItems | paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <span>{{balance?.customerName}}</span>
                            </td>
                            <td>
                                <span>{{balance?.billNo}}</span>
                            </td>
                            <td>
                                <span>{{balance?.phone}}</span>
                            </td>
                            <td>
                                <span>{{balance?.createdAt | dateformat}}</span>
                            </td>
                            <td>
                                <span>Rs.{{balance?.finalTotal}}</span>
                            </td>
                            <td>
                                <span>Rs.{{balance?.paidAmount}}</span>
                            </td>
                            <td>
                                <span>Rs.{{balance?.finalTotal - balance?.paidAmount}}</span>
                            </td>
                            <td>
                                <button data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="onBillPayment(balance)" class="btn btn-info mb-2">Pay</button>
                            </td>
                        </tr>
                        <tr *ngIf="balanceList.length == 0">
                            <td colspan="8" class="text-center">No Data Found!</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-5">
                    <pagination-controls  (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pay Bill Amount</h5>
                <button type="btn btn-primary" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">       
                <div class="row">
                    <div class="col">
                        <input placeholder="Enter amount" type="number" (input)="chechValidAmount()" class="form-control" [(ngModel)]="addNewAmount">
                        <span *ngIf="isInvalidPayAmount" style="color: red;">Entered amount greater than Balance Amount</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    [disabled]="!addNewAmount || isInvalidPayAmount"
                    data-bs-dismiss="modal" (click)="onSaveBill()" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

