

.centre-container{
    height: 100vH;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-image: url('https://clipart-library.com/images_k/people-with-transparent-background/people-with-transparent-background-10.png');
}

.password-input {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .password-input input {
    padding-right: 2.5rem; /* Adjust this value based on the icon size and padding */
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 0; /* Adjust this value based on the desired icon position */
    transform: translateY(-50%);
  }
  