@import "src/_variables.scss";

.p-datatable .p-datatable-thead > tr > th {
    width: inherit !important;
}

th{
    // color: $text-white !important;
    background: $card-bg !important;
}

.card-bg{
    background-color: $card-bg !important;
}

.card-text-color{
    // color: $third !important;
    font-weight: 600;
}

.chart-text-color{
    color: $secondary !important;
    font-weight: 400;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon{

}

.p-datatable .p-sortable-column .p-sortable-column-icon{

}

.fa-2x{
    color: $primary !important;
}

