<app-custom-loader *ngIf="isLoading"></app-custom-loader>

<div class="m-4">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group position-static">
                <input type="text" class="form-control custom-date"
                  [locale]="{ format: 'DD-MM-YYYY', daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S']}"
                  ngxDaterangepickerMd [(ngModel)]="selectedDates"
                  [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" (ngModelChange)="ngModelDateChange($event)"
                  [ranges]="ranges" [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                  placeholder="Filter by dates" />
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="height: 100%;">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
              </div>
        </div>
    </div>
    <div class="row flex-wrap justify-content-center mt-4">
        <p-card header="Dashboard" [subheader]="selectedPeriod">
            <ng-template pTemplate="header">
            </ng-template>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12 cursor-pointer" matTooltip="export list of customers" matTooltipPosition="above" (click)="onClickCardBox('customers')">
                        <div class="card card-1 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Customers
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{aggregatedDats?.noOfCustomers}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-user fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12 cursor-pointer" matTooltip="export list of invoices" matTooltipPosition="above" (click)="onClickCardBox('invoices')">
                        <div class="card card-5 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Invoices
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{inVoicesList?.length}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-file-invoice fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12 cursor-pointer" matTooltip="export list of products" matTooltipPosition="above" (click)="onClickCardBox('products')">
                        <div class="card card-2 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Products
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{listOfServices.length}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bag-shopping fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                        <div class="card card-3 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Revenue
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            &#8377; {{aggregatedDats?.totalRevenue}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                                        <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                        <div class="card card-2 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Total Expense
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            &#8377; {{netProfitAndExpenses?.totalExpenses}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <img width="40px" src="../../../../../assets/clients/png/expense.png">
                                        <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                        <div class="card card-1 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Net Profit
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            &#8377; {{netProfitAndExpenses?.netProfit}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <img width="40px" *ngIf="netProfitAndExpenses?.netProfit < 0"
                                            src="../../../../../assets/clients/png/loss.png">
                                        <img width="40px" *ngIf="netProfitAndExpenses?.netProfit > 0"
                                            src="../../../../../assets/clients/png/profit.png">
                                        <!-- <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                        <div class="card card-4 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Idle Days
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{serviceChartDays?.idleDays}}
                                            Days</div>
                                    </div>
                                    <div class="col-auto">
                                        <img width="40px" src="../../../../../assets/clients/png/idle.png">
                                        <!-- <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                        <div class="card card-5 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Peak Day
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{weekDays[serviceChartDays?.highestInvoiceDayOfWeek - 1]}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-brands fa-think-peaks fa-2x text-gray-300"></i>
                                        <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                        <div class="card card-3 border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs card-text-color text-uppercase mb-1">
                                            Higest Revenue
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{serviceChartDays?.highestRevenueDate}} -    &#8377; {{serviceChartDays?.highestRevenueAmount}}</div>
                                        <!-- <div class="highest-revenue h5 mb-0 text-gray-800">
                                             </div> -->
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                                        <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </p-card>
        <div class="col-lg-12 col-md-12 mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let chart of dynamicChartDetails; let i=index">
                                    <ng-container>
                                        <div class="card p-5 mb-3" *ngIf="entities.length > 0">
                                            <div class="text-end mb-3">
                                                <h3 class="chart-text-color">{{chart.chartName | uppercase}}</h3>
                                            </div>
                                            <p-chart [type]="chart.chartType" height="300" [data]="chart.chartData"
                                                [options]="chart.chartOptions" (onDataSelect)="onChartPointSelect($event, chart.chartFieldName, chart.chartData)"></p-chart>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" *ngIf="listOfServices.length > 0">
                                    <ng-container>
                                        <div class="card p-5 mb-3">
                                            <div class="text-end mb-3">
                                                <h3 class="chart-text-color">{{serviceChartDetails?.chartName | uppercase}}</h3>
                                            </div>
                                            <p-chart [type]="serviceChartDetails?.chartType" height="300"
                                                [data]="serviceChartDetails?.chartData"
                                                [options]="serviceChartDetails?.chartOptions"></p-chart>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <!-- <h4>Services List</h4> -->
                           <div class="card p-5">
                            <div class="mt-5" *ngFor="let list of progressServiceList">
                                <h4>{{list.name}} - ({{list.categoryName}})</h4>
                                <p-progressBar  [value]="list.percent" [matTooltip]="'Total Count - '+list.count" matTooltipPosition="above"></p-progressBar>
                            </div>
                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-8">
    <!-- <app-user-table [tableData]="getStringfiyData(entities)" [queryData]="tableQuery"></app-user-table> -->
</div>
