<app-custom-loader *ngIf="isLoading"></app-custom-loader>

<p-tabView>
    <p-tabPanel header="Dashboard">
        <div class="m-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                    <div class="input-group position-static">
                        <input type="text" class="form-control custom-date"
                            [locale]="{ format: 'DD-MM-YYYY', daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S']}"
                            ngxDaterangepickerMd [(ngModel)]="selectedDates" [showCustomRangeLabel]="true"
                            [alwaysShowCalendars]="true" (ngModelChange)="ngModelDateChange($event)" [ranges]="ranges"
                            [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                            placeholder="Filter by dates" />
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 100%;">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap justify-content-center mt-4">
                <p-card header="Customers Dashboard" [subheader]="selectedPeriod">
                    <ng-template pTemplate="header">
                    </ng-template>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer"
                                (click)="onClickCardBox('customers')">
                                <div class="card card-1 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Customers
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{aggregatedDats?.noOfCustomers}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-user fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer"
                                matTooltip="export list of invoices" matTooltipPosition="above"
                                (click)="onClickCardBox('invoices')">
                                <div class="card card-2 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Invoices
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{inVoicesList?.length}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-file-invoice fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12">
                                <div class="card card-3 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Products
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{listOfServices.length}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-bag-shopping fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12">
                                <div class="card card-4 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Revenue
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    &#8377; {{aggregatedDats?.totalRevenue}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                                                <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12"
                            matTooltip="office expense + office assets + salary" matTooltipPosition="above">
                                <div class="card card-5 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Total Expense
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    &#8377; {{netProfitAndExpenses?.totalExpenses}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <img width="40px" src="../../../../../assets/clients/png/expense.png">
                                                <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12"
                            matTooltip="revenue - (office expense + office assets + salary)" matTooltipPosition="above">
                                <div class="card card-6 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Net Profit
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    &#8377; {{netProfitAndExpenses?.netProfit}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <img width="40px" *ngIf="netProfitAndExpenses?.netProfit < 0"
                                                    src="../../../../../assets/clients/png/loss.png">
                                                <img width="40px" *ngIf="netProfitAndExpenses?.netProfit > 0"
                                                    src="../../../../../assets/clients/png/profit.png">
                                                <!-- <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12">
                                <div class="card card-7 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Idle Days
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{serviceChartDays?.idleDays}}
                                                    Days</div>
                                            </div>
                                            <div class="col-auto">
                                                <img width="40px" src="../../../../../assets/clients/png/idle.png">
                                                <!-- <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12">
                                <div class="card card-8 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Peak Day
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {{weekDays[serviceChartDays?.highestInvoiceDayOfWeek - 1]}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-brands fa-think-peaks fa-2x text-gray-300"></i>
                                                <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-lg-3 mt-2 col-md-4 col-sm-12">
                                <div class="card card-9 border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs card-text-color text-uppercase mb-1">
                                                    Higest Revenue
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <span>{{serviceChartDays?.highestRevenueDate}}</span> <br><br>
                                                    <span>&#8377; {{serviceChartDays?.highestRevenueAmount}}</span>    
                                                </div>
                                                <!-- <div class="highest-revenue h5 mb-0 text-gray-800">
                                                     </div> -->
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                                                <!-- <i class="fas fa-bag-shopping fa-2x text-gray-300"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-card>
                <div class="col-lg-12 col-md-12 mt-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-12" *ngIf="listOfServices.length > 0">
                                            <ng-container>
                                                <div class="card p-5 mb-3">
                                                    <div class="text-end mb-3">
                                                        <h3 class="chart-text-color">{{serviceChartDetails?.chartName |
                                                            uppercase}}</h3>
                                                    </div>
                                                    <p-chart [type]="serviceChartDetails?.chartType" height="300"
                                                        [data]="serviceChartDetails?.chartData"
                                                        [options]="serviceChartDetails?.chartOptions"></p-chart>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" *ngIf="listOfServices.length > 0">
                                            <ng-container>
                                                <div class="card p-5 mb-3">
                                                    <div class="text-end mb-3">
                                                        <h3 class="chart-text-color">Monthly Revenue</h3>
                                                    </div>
                                                    <p-chart type="line" height="300" [data]="monthyProfitdata"
                                                        [options]="monthyProfitoptions"></p-chart>

                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div [ngClass]="chart.chartFieldName == 'createdAt' ? 'col-sm-12 col-md-12 col-lg-12' : 'col-sm-12 col-md-6 col-lg-4'"
                                            *ngFor="let chart of dynamicChartDetails; let i=index">
                                            <ng-container>
                                                <div class="card p-5 mb-3" *ngIf="entities.length > 0">
                                                    <div *ngIf="chart.chartFieldName == 'createdAt'"
                                                        class="my-2 text-end">
                                                        <p-dropdown [options]="customChartFilter"
                                                            [(ngModel)]="selectedChartFilterData"
                                                            (onChange)="onChangeChartFilterOptions($event)"
                                                            optionLabel="label" [showClear]="true"
                                                            placeholder="Select Options">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="text-end mb-3"
                                                        *ngIf="chart.chartFieldName != 'createdAt'">
                                                        <h3 class="chart-text-color">{{chart.chartName | uppercase}}
                                                        </h3>
                                                    </div>
                                                    <p-chart [type]="chart.chartType" height="300"
                                                        [data]="chart.chartData" [options]="chart.chartOptions"
                                                        (onDataSelect)="onChartPointSelect($event, chart.chartFieldName, chart.chartData)"></p-chart>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-sm-12 mb-8">
                                    <h3 class="chart-text-color">Services Summary</h3>
                                    <div class="card p-5">
                                        <div class="row">
                                            <div class="mt-2 col-lg-4 col-md-6 col-sm-12"
                                                *ngFor="let list of progressServiceList">
                                                <h4 style="text-decoration: underline;">{{list.name}} -
                                                    ({{list.categoryName}})</h4>
                                                <label class="chart-text-color">{{list.percent}}%</label>
                                                <p-progressBar [value]="list.percent"
                                                    [matTooltip]="'Total Count - '+list.count"
                                                    matTooltipPosition="above"></p-progressBar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Customers">
        <app-user-table></app-user-table>
    </p-tabPanel>
    <!-- <p-tabPanel header="Services (or) Products">
        <app-services></app-services>
    </p-tabPanel> -->
</p-tabView>