<div class="m-4">
    <div class="row">
        <!-- <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div><span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div><span class="text-green-500 font-medium">24 new </span><span class="text-500">since last visit</span>
            </div>
        </div> -->
    </div>
    <div class="row flex-wrap justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                    <div class="card card-bg border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs card-text-color text-uppercase mb-1">
                                        Total Customers
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{entities.length}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2 col-md-6 col-sm-12">
                    <div class="card card-bg border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs card-text-color text-uppercase mb-1">
                                        Total Services
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{entities.length}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bag-shopping fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let chart of dynamicChartDetails; let i=index">
                    <div class="card p-5 mb-3" *ngIf="entities.length > 0">
                        <div class="text-end mb-3">
                            <h3 class="chart-text-color">{{chart.chartName | uppercase}}</h3>
                        </div>
                        <p-chart [type]="chart.chartType" height="300" type="pie" [data]="chart.chartData"
                            [options]="chart.chartOptions"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-user-table></app-user-table>