@import "src/_variables.scss";

label{
    font-weight: 500;
}

mat-form-field, .w-100{
    width: 100% !important;
}

.btn-primary {
    background-color: $card-bg !important;
    border-color: $card-bg !important;
    color: $primary !important;
}

h3{
    font-weight: 500 !important;
}

label{
    color: $secondary;
    font-weight: 500;
}

.page-spinner {
    position: fixed;
    top: 30%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: auto;
  }