<app-custom-loader *ngIf="isLoading"></app-custom-loader>

<p-tabView>
    <p-tabPanel header="Dashboard">
        <div class="m-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                    <div class="input-group position-static">
                        <input type="text" class="form-control custom-date"
                            [locale]="{ format: 'DD-MM-YYYY', daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S']}"
                            ngxDaterangepickerMd [(ngModel)]="selectedDates" [showCustomRangeLabel]="true"
                            [alwaysShowCalendars]="true" (ngModelChange)="ngModelDateChange($event)" [ranges]="ranges"
                            [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                            placeholder="Filter by dates" />
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 100%;">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap justify-content-center mt-4">
                <p-card header="Employee Dashboard" [subheader]="selectedPeriod">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-card>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Employees">
        <app-employee-table></app-employee-table>
    </p-tabPanel>
</p-tabView>