<app-custom-loader *ngIf="isLoading"></app-custom-loader>

<div class="m-sm-1 m-lg-5 mb-8">
    <div class="row mb-5" *ngIf="expensesList.length > 0">
        <div class="col-lg-3 mt-2 col-md-4 col-sm-12 cursor-pointer">
            <div class="card card-1 border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs card-text-color text-uppercase mb-1">
                                Total Expense Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                &#8377; {{totalExpenseSum}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-indian-rupee-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-toolbar>
        <div style="width: 100%;">
            <div class="row align-end">
                <div class="col-lg-7 col-md-7 col-sm-12 mt-3 mb-3">
                    <div class="input-group position-static">
                        <input type="text" class="form-control custom-date"
                            [locale]="{ format: 'DD-MM-YYYY', daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S']}"
                            ngxDaterangepickerMd [(ngModel)]="selectedDates" [showCustomRangeLabel]="true"
                            [alwaysShowCalendars]="true" (ngModelChange)="ngModelDateChange($event)" [ranges]="ranges"
                            [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                            placeholder="Filter by dates" />
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 100%;">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-md-6 mb-3 mt-3">
                    <input type="text" (input)="updateFilteredItems($event)" placeholder="Search expense"
                        [(ngModel)]="searchText" class="form-control mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-sm-12 col-md-6 mb-3 mb-md-0">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <p-dropdown [options]="expenseTypes" (onChange)="onCategoryChange($event, 'type')"
                                optionLabel="label" [showClear]="true" [filter]="true"
                                placeholder="Filter by Expense Type">
                            </p-dropdown>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <p-dropdown [virtualScroll]="true" [virtualScrollItemSize]="38" [options]="allCategories"
                                (onChange)="onCategoryChange($event, 'category')" optionLabel="label" [filter]="true"
                                [showClear]="true" placeholder="Filter by Category">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 text-end mb-3">
                    <p-button label="New Expense" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"></p-button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                        class="p-button-success mr-2" pTooltip="Export data" tooltipPosition="bottom">
                    </button>
                </div>
            </div>
        </div>
    </p-toolbar>


    <div class="card mb-8">
        <div class="card-header">
            List Of Expenses
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S No</th>
                            <th>Date</th>
                            <th>Expense Type</th>
                            <th>Expense Category</th>
                            <th>Additional Details</th>
                            <th>Expense Amount</th>
                            <th>GST Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="mb-8">
                        <tr
                            *ngFor="let expense of filteredItems | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <span>{{expense?.expense_date | dateformat}}</span>
                            </td>
                            <td>
                                <span *ngIf="!expense.isEdit">{{expense?.type?.label}}</span>
                                <p-dropdown *ngIf="expense.isEdit" [(ngModel)]="expense.type" [options]="expenseTypes"
                                    optionLabel="label" placeholder="Select a expense type"></p-dropdown>
                            </td>
                            <td style="width: 20%;">
                                <span
                                    *ngIf="!expense.isEdit && expense?.selectedCategory.label == 'Others'">{{expense?.customCategory}}</span>
                                <span
                                    *ngIf="!expense.isEdit && expense?.selectedCategory.label != 'Others'">{{expense?.selectedCategory.label}}</span>

                                <p-dropdown *ngIf="expense.isEdit && expense?.type?.label == 'Actual Expense'"
                                    [virtualScroll]="true" [virtualScrollItemSize]="38"
                                    [style]="{'width':'100%','overflow':'visible'}" appendTo="body"
                                    [options]="expenseCategories" [(ngModel)]="expense.selectedCategory"
                                    optionLabel="label" [filter]="true" [showClear]="true"
                                    placeholder="Select a Expense Category">
                                </p-dropdown>

                                <p-dropdown *ngIf="expense.isEdit && expense?.type?.label == 'Asset to Business'"
                                    [virtualScroll]="true" [virtualScrollItemSize]="38"
                                    [style]="{'width':'100%','overflow':'visible'}" appendTo="body"
                                    [options]="assetItems" [(ngModel)]="expense.selectedCategory" optionLabel="label"
                                    [filter]="true" [showClear]="true" placeholder="Select a Asset Category">
                                </p-dropdown>

                                <input [(ngModel)]="expense.customCategory"
                                    *ngIf="expense.isEdit && expense?.selectedCategory?.label == 'Others'" type="text"
                                    class="form-control mt-3" placeholder="Enter expense Expense/Asset Category">

                            </td>
                            <td>
                                <span *ngIf="!expense.isEdit">{{expense?.expense_comments}}</span>
                                <input [(ngModel)]="expense.expense_comments" *ngIf="expense.isEdit" type="text"
                                    class="form-control" placeholder="Enter expense Comments">
                            </td>
                            <td>
                                <span *ngIf="!expense.isEdit">{{expense?.expense_price}}</span>
                                <input [(ngModel)]="expense.expense_price" *ngIf="expense.isEdit" type="number"
                                    class="form-control" placeholder="Enter expense Price">
                            </td>
                            <td>
                                <span *ngIf="!expense.isEdit">{{expense?.expense_tax}}</span>
                                <input [(ngModel)]="expense.expense_tax" *ngIf="expense.isEdit" type="number"
                                    class="form-control" placeholder="Enter expense tax amount">
                            </td>
                            <td>
                                <button *ngIf="!expense.isEdit" class="btn btn-warning mr-3 mb-2"
                                    (click)="onEdit(expense)">Edit</button>
                                <button *ngIf="!expense.isEdit" class="btn btn-danger mb-2"
                                    (click)="onDelete(expense)">Delete</button>
                                <button *ngIf="expense.isEdit" class="btn btn-info mr-3 mb-2"
                                    (click)="onCancel(expense)">Cancel</button>
                                <button *ngIf="expense.isEdit" class="btn btn-success mb-2"
                                    (click)="onSave(expense)">Save</button>
                            </td>
                        </tr>
                        <tr *ngIf="expensesList.length == 0">
                            <td colspan="6" class="text-center">No Data Found!</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-3">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title primary-color">Add expense</h4>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body">

                <div class="mt-5 mb-2">
                    <p-dropdown [(ngModel)]="newexpense.type" [options]="expenseTypes" optionLabel="label"
                        placeholder="Select a expense type"></p-dropdown>
                </div>
                <div class="mb-2" *ngIf="newexpense.type['label'] === 'Actual Expense'">
                    <p-dropdown [virtualScroll]="true" [virtualScrollItemSize]="38" [options]="expenseCategories"
                        [(ngModel)]="newexpense.selectedCategory" optionLabel="label" [filter]="true" [showClear]="true"
                        placeholder="Select a Expense Category">
                    </p-dropdown>
                </div>
                <div class="mb-2" *ngIf="newexpense.type['label'] === 'Asset to Business'">
                    <p-dropdown [virtualScroll]="true" [virtualScrollItemSize]="38" [options]="assetItems"
                        [(ngModel)]="newexpense.selectedCategory" optionLabel="label" [filter]="true" [showClear]="true"
                        placeholder="Select a Asset Category">
                    </p-dropdown>
                </div>
                <div class="mt-3" *ngIf="newexpense.selectedCategory['label'] == 'Others'">
                    <mat-form-field class="mt-2 full-width">
                        <mat-label>Enter expense category</mat-label>
                        <input matInput type="text" [(ngModel)]="newexpense.customCategory">
                    </mat-form-field>
                </div>
                <mat-form-field class="example-form-field mt-2 full-width">
                    <mat-label>Choose a expense date</mat-label>
                    <input matInput [(ngModel)]="newexpense.expense_date" [matDatepicker]="datepicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mt-2 full-width">
                    <mat-label>Enter expense Additional Information</mat-label>
                    <input matInput type="text" [(ngModel)]="newexpense.expense_comments">
                </mat-form-field>

                <mat-form-field class="mt-2 full-width">
                    <mat-label>Enter expense amount</mat-label>
                    <input matInput type="number" class="no-arrow" [(ngModel)]="newexpense.expense_price">
                </mat-form-field>
                <mat-form-field class="mt-2 mb-5 full-width">
                    <mat-label>Enter tax amount(if any)</mat-label>
                    <input matInput type="number" class="no-arrow" [(ngModel)]="newexpense.expense_tax">
                </mat-form-field>


            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="!newexpense.selectedCategory || !newexpense.expense_price"
                    data-bs-dismiss="modal" (click)="onAddexpense()" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>