<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div style="display: flex; justify-content: center; margin: 10px 0;">
                    <img [src]="userDetails?.app_meta_details?.billingdetails?.logo == 'undefined' ? sanitizeImageURL(logo) : userDetails?.app_meta_details?.billingdetails?.logo" width="100px" height="100px">
                </div>
                <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                <a (click)="onClickLink('dashboard')" appSkipLocationChange [commands]="['/client/home']" [ngClass]="linkActive['dashboard'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/dashboard.png">
                    </div> 
                    Dashboard
                </a>
                <a (click)="onClickLink('clients')" appSkipLocationChange [commands]="['/client/clients']" [ngClass]="linkActive['clients'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/customers.png">
                    </div>
                    Clients
                </a>
                <!-- <a (click)="onClickLink('billing')" appSkipLocationChange [commands]="['/client/billing']" [ngClass]="linkActive['billing'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/billing.png">
                    </div>
                    Billing
                </a> -->
                <a (click)="onClickLink('services')" appSkipLocationChange [commands]="['/client/services']" [ngClass]="linkActive['services'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/services.png">
                    </div>
                    Services
                </a>
                <a (click)="onClickLink('expenses')" appSkipLocationChange [commands]="['/client/expenses']" [ngClass]="linkActive['expenses'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/expense-25.png">
                    </div>
                    Expenses Management
                </a>
                <a (click)="onClickLink('balance')" appSkipLocationChange [commands]="['/client/balance']" [ngClass]="linkActive['balance'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/billing.png">
                    </div>
                    Bill Balance Tracker
                </a>
                <a (click)="onClickLink('followup')" appSkipLocationChange [commands]="['/client/followup']" [ngClass]="linkActive['followup'] ? 'text-color nav-link' : 'nav-link'">
                    <div class="sb-nav-link-icon">
                        <img src="../../../../../assets/clients/png/follow.png">
                    </div>
                    Customer Followup
                </a>
            </div> 
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{userDetails.email}}
        </div>
    </nav>
</div>