<div class="pt-5 pl-3">
    <mat-icon class="cursor-pointer" (click)="onPreviousPage()">arrow_back</mat-icon>
</div>


<div class="row ml-1 mr-1">
    <div class="col-lg-12 col-sm-12 mt-4 mb-5">
        <div class="card card-width-100 mh-200">
            <div class="card-header">
                Create a New App Meta Object
            </div>
            <div class="card-body">

                <mat-stepper linear [orientation]="(stepperOrientation | async)!" labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <ng-template matStepLabel>App Details</ng-template>
                        <form [formGroup]="firstFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Enter Company Name</mat-label>
                                        <input required formControlName="company_name" matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Enter Company Email</mat-label>
                                        <input required formControlName="company_email" matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Enter Application Name</mat-label>
                                        <input required formControlName="application_name" matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Choose an category</mat-label>
                                        <mat-select required formControlName="application_category">
                                            <mat-option *ngFor="let category of appCategories"
                                                [value]="category?.application_category">{{category?.application_category}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>How do you want call your client/customer ?</mat-label>
                                        <input required placeholder="Customers, Clients, Students ..,"
                                            formControlName="client_name" matInput type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <ng-template matStepLabel>Form Fields Details</ng-template>
                        <form [formGroup]="secondFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-label>Table Required:</mat-label>
                                    <mat-radio-group formControlName="application_table_required"
                                        aria-label="Select an option">
                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                
                                <div *ngIf="secondFormGroup.get('application_table_required')?.value">
                                    <div class="text-end m-1">
                
                                        <p-button label="Add Field" icon="pi pi-plus" class="mr-2"
                                            (click)="onFieldAdd()"></p-button>
                                    </div>
                                    <app-modal (formDataSaved)="onFormDataSaved($event)" #modal
                                        [modalConfig]="modalConfig">
                                        <div class="col-lg-12 col-sm-12"
                                            *ngFor="let field of getFormControls('table_fileds', 'second');let i=index"
                                            formArrayName="table_fileds">
                                            <div class="row box p-3 mb-2" [formGroupName]="i"
                                                *ngIf="getLengthOfArr('table_fileds', 'second') == (i+1)">
                                                <div class="text-end m-1">
                                                    <button type="button"
                                                        (click)="onFieldRemove(i, 'table_fileds', 'modal', 'modal-close')"
                                                        class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div class="col-lg-6 col-sm-12 mt-2">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Name</mat-label>
                                                        <input required placeholder="Field Name"
                                                            formControlName="field_name" matInput type="text">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Key</mat-label>
                                                        <mat-select formControlName="field_key" name="regime-input"
                                                            #regimeWidget>
                                                            <mat-option *ngFor="let type of fieldsKeyList"
                                                                [value]="type">{{type}}</mat-option>
                                                            <mat-option value="other">other</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                
                                                    <ng-container *ngIf="regimeWidget.value == 'other'">
                                                        <mat-form-field>
                                                            <input required placeholder="name"
                                                                formControlName="field_key" matInput type="text">
                                                        </mat-form-field>
                                                        <!-- <span>You selected "Other"</span> -->
                                                    </ng-container>
                
                                                    <!-- <mat-form-field>
                                                    <mat-label>Enter Form Field Key</mat-label>
                                                    <mat-label>Enter Form Field Key</mat-label>
                                                        <input required placeholder="name" formControlName="field_key"
                                                            matInput type="text">
                                                    </mat-form-field> -->
                                                </div>
                                                <div class="col-lg-12 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Type</mat-label>
                                                        <mat-select required formControlName="field_type">
                                                            <mat-option *ngFor="let type of fieldsType"
                                                                [value]="type">{{type}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-12 col-sm-12"
                                                    *ngIf="field.get('field_type')?.value == 'radio' || field.get('field_type')?.value == 'checkbox' || field.get('field_type')?.value == 'select'">
                                                    <label>Add Options - (After typed option name click enter
                                                        :-)</label>
                                                    <div class="card p-fluid">
                                                        <p-chips formControlName="field_options"
                                                            placeholder="Hint: Male, Female, Others"></p-chips>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Value</mat-label>
                                                        <mat-select required formControlName="field_value">
                                                            <mat-option *ngFor="let value of fieldsValue"
                                                                [value]="value">{{value}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-lg-6 col-sm-12">
                                                    <mat-label>is this Your services?</mat-label><br>
                                                    <mat-radio-group formControlName="isField_services"
                                                        aria-label="Select an option">
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div> -->
                                                <!-- <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Do you need this field in table?</mat-label><br>
                                                    <mat-radio-group formControlName="isField_table_show"
                                                        aria-label="Select an option">
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div> -->
                                                <!-- <div class="col-lg-6 col-sm-12"
                                                    *ngIf="field.get('isField_table_show')?.value">
                                                    <mat-label>Do you need sorting option in table?</mat-label><br>
                                                    <mat-radio-group formControlName="isField_table_sorting"
                                                        aria-label="Select an option">
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div> -->
                                                <!-- <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Do you need this field in detailed view?</mat-label><br>
                                                    <mat-radio-group formControlName="isField_detailed_show"
                                                        aria-label="Select an option">
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div> -->
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Editable?</mat-label>
                                                    <mat-radio-group formControlName="isMutable"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Unique?</mat-label>
                                                    <mat-radio-group formControlName="isUnique"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <!-- <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Required?</mat-label>
                                                    <mat-radio-group formControlName="isRequired"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div> -->
                
                                            </div>
                                        </div>
                                    </app-modal>
                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Field Name</th>
                                                    <th>Field Key</th>
                                                    <th>Field Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let field of getFormControls('table_fileds', 'second');let i=index">
                                                    <td>{{field.get('field_name')?.value}}</td>
                                                    <td>{{ field.get('field_key')?.value }}</td>
                                                    <td>{{ field.get('field_type')?.value }}</td>
                                                    <td>
                                                        <button class="btn btn-danger"
                                                            (click)="onFieldRemove(i, 'table_fileds', 'modal')">Delete</button>
                                                    </td>
                
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                
                            <div class="mt-4">
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                
                    <mat-step [stepControl]="serviceForm">
                        <ng-template matStepLabel>List of Services</ng-template>
                        <!-- <form [formGroup]="servicesFormGroup">
                            <div class="mt-3">
                                <div class="text-end mb-3">
                                    <button (click)="onAddService()" class="btn btn-primary">+</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>S No</th>
                                                <th>Service Name</th>
                                                <th>Service Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let service of servicesFormGroup.get('servicesList')?.controls; let i =index;" formArrayName="servicesList">
                                                <td>{{i+1}}</td>
                                                <td [formGroupName]="i">
                                                    <input formControlName="service_name" type="text" class="form-control" placeholder="Ex- Hair-cut">
                                                </td>
                                                <td [formGroupName]="i">
                                                    <input formControlName="service_price"  type="text" class="form-control" placeholder="Ex- 150">
                                                </td>
                                                <td>
                                                    <button (click)="onRemoveService(i)" class="btn-close btn btn-danger"></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form> -->       
                        <div class="mb-8">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Items</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let category of getCategoryControls(); let i = index"
                                        [formGroup]="category">
                                        <td style="width: 20%;vertical-align: middle;">
                                            <div
                                                style="display: flex;justify-content: center;align-items: center;height: 100%;">
                                                <mat-form-field>
                                                    <mat-label>Enter Category Name</mat-label>
                                                    <input required formControlName="categoryName" matInput type="text">
                                                </mat-form-field>
                                            </div>
                                        </td>
                                        <td>
                                            <div formArrayName="items">
                                                <div class="row"
                                                    *ngFor="let item of getCategoryItems(category).controls; let j = index"
                                                    [formGroupName]="j">
                                                    <div class="col-5">
                                                        <mat-form-field>
                                                            <mat-label>Enter Item Name</mat-label>
                                                            <input required formControlName="itemName" matInput type="text">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-5">
                                                        <mat-form-field>
                                                            <mat-label>Enter Item Price</mat-label>
                                                            <input required formControlName="itemPrice" matInput type="number">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-2" style="display: flex;align-items: center;">
                                                        <button type="close" (click)="removeItem(category, j)"
                                                            class="btn btn-close"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="text-align: end;">
                                                <button type="button" (click)="addItem(category)" class="btn btn-info">Add
                                                    Item</button>
                                            </div>
                                        </td>
                                        <td style="width: 10%;vertical-align:middle">
                                            <div class="col-2" style="text-align: center;">
                                                <button type="button" (click)="removeCategory(i)"
                                                class="btn btn-danger">Remove</button>
                                            </div>                         
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" (click)="addCategory()" class="primary-bg btn">Add Category</button>
                        </div>        
                        <div>
                            <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                            <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                        </div>
                        
                    </mat-step>
                
                    <mat-step [stepControl]="thirdFormGroup">
                        <ng-template matStepLabel>Chart Details</ng-template>
                        <form [formGroup]="thirdFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-label>Chart Required:</mat-label>
                                    <mat-radio-group formControlName="application_charts_required"
                                        aria-label="Select an option">
                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                
                                <div *ngIf="thirdFormGroup.get('application_charts_required')?.value">
                                    <div class="text-end m-1">
                                        <p-button label="Add Chart" icon="pi pi-plus" class="mr-2"
                                            (click)="onChartAdd()"></p-button>
                
                                        <app-modal (formDataSaved)="onFormDataSaved($event)" #modal1
                                            [modalConfig]="modalConfigChart">
                                            <div class="col-lg-12 col-sm-12"
                                                *ngFor="let field of getFormControls('charts_details', 'third');let i=index"
                                                formArrayName="charts_details">
                                                <div class="row box p-3 mb-2" [formGroupName]="i"
                                                    *ngIf="getLengthOfArr('charts_details', 'third') == (i+1)">
                                                    <div class="text-end m-1">
                                                        <button type="button"
                                                            (click)="onFieldRemove(i, 'charts_details', 'modal1', 'modal-close')"
                                                            class="btn-close" aria-label="Close"></button>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-12">
                                                        <mat-form-field>
                                                            <mat-label>Choose Chart Type</mat-label>
                                                            <mat-select required formControlName="chart_type">
                                                                <mat-option *ngFor="let value of chartTypes"
                                                                    [value]="value">{{value}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-12">
                                                        <mat-form-field>
                                                            <mat-label>Choose Chart Field</mat-label>
                                                            <mat-select required formControlName="chart_field_name">
                                                                <mat-option *ngFor="let field of fieldsList"
                                                                    [value]="field.field_key">
                                                                    {{field.field_key }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </app-modal>
                                        <div>
                                            <table class="table" style="width:75%">
                                                <thead>
                                                    <tr>
                                                        <th>Chart Type</th>
                                                        <th>Chart Field Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let field of getFormControls('charts_details', 'third');let i=index">
                                                        <td>{{field.get('chart_type')?.value}}</td>
                                                        <td>{{ field.get('chart_field_name')?.value }}</td>
                                                        <td>
                                                            <button class="btn btn-danger"
                                                                (click)="onFieldRemove(i, 'charts_details', 'modal1')">Delete</button>
                                                        </td>
                
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="furthFormGroup">
                        <ng-template matStepLabel>Billing Details</ng-template>
                        <form [formGroup]="furthFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Company Address</mat-label>
                                        <input required formControlName="company_address" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Company City</mat-label>
                                        <input required formControlName="city" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Company State</mat-label>
                                        <input required formControlName="state" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Company Country</mat-label>
                                        <input required formControlName="country" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Company GST No</mat-label>
                                        <input formControlName="gstNo" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter UPI ID</mat-label>
                                        <input required formControlName="upiId" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Logo Image String</mat-label>
                                        <textarea required formControlName="logo" matInput></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <mat-form-field>
                                        <mat-label>Enter Signature Image String</mat-label>
                                        <textarea required formControlName="signature" matInput></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="m-5">
                                    <a href="https://www.base64-image.de/" target="_blank">Click here to convert image to base64 string. </a>
                                </div>
                                <div class="m-5">
                                    <a href="https://signaturely.com/online-signature/type/" target="_blank">Click here to create digital signature. </a>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button> &nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="employeeFormGroup">
                        <ng-template matStepLabel>Employee Form Fields</ng-template>
                        <form [formGroup]="employeeFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-label>Employee Management Required:</mat-label>
                                    <mat-radio-group formControlName="employee_management_required"
                                        aria-label="Select an option">
                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div *ngIf="employeeFormGroup.get('employee_management_required')?.value">
                                    <div class="text-end m-1">
                                        <p-button label="Add Field" icon="pi pi-plus" class="mr-2"
                                            (click)="onFieldEmployeeAdd()"></p-button>
                                    </div>
                                    <app-modal (formDataSaved)="onFormDataSaved($event)" #employeeModal
                                        [modalConfig]="modalEmployee">
                                        <div class="col-lg-12 col-sm-12"
                                            *ngFor="let field of getFormControls('employee_fields', 'employee');let i=index"
                                            formArrayName="employee_fields">
                                            <div class="row box p-3 mb-2" [formGroupName]="i"
                                                *ngIf="getLengthOfArr('employee_fields', 'employee') == (i+1)">
                                                <div class="text-end m-1">
                                                    <button type="button"
                                                        (click)="onFieldRemove(i, 'employee_fields', 'employeeModal', 'modal-close')"
                                                        class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div class="col-lg-6 col-sm-12 mt-2">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Name</mat-label>
                                                        <input required placeholder="Field Name"
                                                            formControlName="field_name" matInput type="text">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Key</mat-label>
                                                        <mat-select formControlName="field_key" name="regime-input"
                                                            #regimeWidget>
                                                            <mat-option *ngFor="let type of fieldsKeyList"
                                                                [value]="type">{{type}}</mat-option>
                                                            <mat-option value="other">other</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                
                                                    <ng-container *ngIf="regimeWidget.value == 'other'">
                                                        <mat-form-field>
                                                            <input required placeholder="name"
                                                                formControlName="field_key" matInput type="text">
                                                        </mat-form-field>
                                                    </ng-container>
                                                </div>
                                                <div class="col-lg-12 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Type</mat-label>
                                                        <mat-select required formControlName="field_type">
                                                            <mat-option *ngFor="let type of fieldsType"
                                                                [value]="type">{{type}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-12 col-sm-12"
                                                    *ngIf="field.get('field_type')?.value == 'radio' || field.get('field_type')?.value == 'checkbox' || field.get('field_type')?.value == 'select'">
                                                    <label>Add Options - (After typed option name click enter
                                                        :-)</label>
                                                    <div class="card p-fluid">
                                                        <p-chips formControlName="field_options"
                                                            placeholder="Hint: Male, Female, Others"></p-chips>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Value</mat-label>
                                                        <mat-select required formControlName="field_value">
                                                            <mat-option *ngFor="let value of fieldsValue"
                                                                [value]="value">{{value}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Editable?</mat-label>
                                                    <mat-radio-group formControlName="isMutable"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Unique?</mat-label>
                                                    <mat-radio-group formControlName="isUnique"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </app-modal>
                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Field Name</th>
                                                    <th>Field Key</th>
                                                    <th>Field Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let field of getFormControls('employee_fields', 'employee');let i=index">
                                                    <td>{{field.get('field_name')?.value}}</td>
                                                    <td>{{ field.get('field_key')?.value }}</td>
                                                    <td>{{ field.get('field_type')?.value }}</td>
                                                    <td>
                                                        <button class="btn btn-danger"
                                                            (click)="onFieldRemove(i, 'employee_fields', 'employeeModal')">Delete</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button> &nbsp;
                            <button mat-flat-button class="primary-bg" (click)="onSaveFormDetails()">Save</button>
                        </div>
                    </mat-step>
                </mat-stepper>


            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>