<div class="pt-5 pl-3">
    <mat-icon (click)="onPreviousPage()">arrow_back</mat-icon>
</div>


<div class="row ml-1 mr-1">
    <div class="col-lg-12 col-sm-12 mt-4 mb-5">
        <div class="card card-width-100 mh-200">
            <div class="card-header">
                Create a New App Meta Object
            </div>
            <div class="card-body">
                <mat-stepper linear [orientation]="(stepperOrientation | async)!" labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <ng-template matStepLabel>Basic Details</ng-template>
                        <form [formGroup]="firstFormGroup">

                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Enter Company Name</mat-label>
                                        <input required formControlName="company_name" matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Enter Company Email</mat-label>
                                        <input required formControlName="company_email" matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Enter Application Name</mat-label>
                                        <input required formControlName="application_name" matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>Choose an category</mat-label>
                                        <mat-select required formControlName="application_category">
                                            <mat-option *ngFor="let category of appCategories"
                                                [value]="category?.application_category">{{category?.application_category}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <ng-template matStepLabel>Form Fields Details</ng-template>
                        <form [formGroup]="secondFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-label>Table Required:</mat-label>
                                    <mat-radio-group formControlName="application_table_required"
                                        aria-label="Select an option">
                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div *ngIf="secondFormGroup.get('application_table_required')?.value">
                                    <div class="text-end m-1">
                                        <button mat-flat-button class="secondary-bg" (click)="onFieldAdd()"
                                            aria-label="Close">Add
                                            Field</button>
                                    </div>
                                    <app-modal (formDataSaved)="onFormDataSaved($event)" #modal
                                        [modalConfig]="modalConfig">
                                        <div class="col-lg-12 col-sm-12"
                                            *ngFor="let field of getFormControls();let i=index"
                                            formArrayName="table_fileds">
                                            <div class="row box p-3 mb-2" [formGroupName]="i"
                                                *ngIf="getLengthOfArr() == (i+1)">
                                                <!-- <div class="text-end m-1">
                                                    <button type="button" (click)="onFieldRemove(i)" class="btn-close" aria-label="Close"></button>
                                                </div> -->
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Name</mat-label>
                                                        <input required placeholder="Customer Name"
                                                            formControlName="field_name" matInput type="text">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Key</mat-label>
                                                        <input required placeholder="name" formControlName="field_key"
                                                            matInput type="text">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Type</mat-label>
                                                        <mat-select required formControlName="field_type">
                                                            <mat-option *ngFor="let type of fieldsType"
                                                                [value]="type">{{type}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field>
                                                        <mat-label>Enter Form Field Value</mat-label>
                                                        <mat-select required formControlName="field_value">
                                                            <mat-option *ngFor="let value of fieldsValue"
                                                                [value]="value">{{value}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Do you need this field in table?</mat-label><br>
                                                    <mat-radio-group formControlName="isField_table_show"
                                                        aria-label="Select an option">
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Do you need this field in detailed view?</mat-label><br>
                                                    <mat-radio-group formControlName="isField_detailed_show"
                                                        aria-label="Select an option">
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Editable?</mat-label>
                                                    <mat-radio-group formControlName="isMutable"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <mat-label>Is this field Unique?</mat-label>
                                                    <mat-radio-group formControlName="isUnique"
                                                        aria-label="Select an option"><br>
                                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </app-modal>

                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Field Name</th>
                                                    <th>Field Key</th>
                                                    <th>Field Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let field of getFormControls();let i=index">
                                                    <td>{{field.get('field_name')?.value}}</td>
                                                    <td>{{ field.get('field_key')?.value }}</td>
                                                    <td>{{ field.get('field_type')?.value }}</td>
                                                    <td>
                                                        <button class="btn btn-danger"
                                                            (click)="onFieldRemove(i)">Delete</button>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup">
                        <ng-template matStepLabel>Chart Details</ng-template>
                        <form [formGroup]="thirdFormGroup">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <mat-label>Chart Required:</mat-label>
                                    <mat-radio-group formControlName="application_charts_required"
                                        aria-label="Select an option">
                                        <mat-radio-button [value]="true">yes</mat-radio-button>
                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div>
                                <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button>&nbsp;
                                <button mat-flat-button class="primary-bg" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-flat-button class="secondary-bg" matStepperPrevious>Back</button> &nbsp;
                            <button mat-flat-button class="primary-bg" (click)="onSaveFormDetails()">Save</button>
                        </div>
                    </mat-step>
                </mat-stepper>


                <!-- <div class="col-lg-6 col-sm-12">
                                <mat-label>Charts Required:</mat-label>
                                <mat-radio-group formControlName="application_charts_required" aria-label="Select an option">
                                    <mat-radio-button [value]="true">yes</mat-radio-button>
                                    <mat-radio-button [value]="false">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        <div *ngIf="dynamicAppMetaForm.get('application_table_required').value">
                            <div class="text-end m-1">
                                <button mat-flat-button class="secondary-bg" (click)="onFieldAdd()" aria-label="Close">Add
                                    Field</button>
                            </div>
                            
                        </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-sm-12 mt-4 mb-5">
            <div class="card card-width-100 mh-200">
                <div class="card-body">
                    <div class="box-default">
                        <code>
                                <pre class="fs-16">
                                    {{dynamicAppMetaForm.value |json}}
                                </pre>
                            </code>
                    </div>
                </div>
            </div>
        </div> -->
</div>