
// $primary: mediumvioletred;
// $secondary : darkslateblue;
// $text-white : white;
// $card-bg : gainsboro;

$primary: #1C4E80;
$secondary : #0091D5;
$text-white : #F1F1F1;

$card-bg : #A5D8DD;
$colors : #7E909A #202020 #EA6A47 #1C4E80 #0091D5 #F1F1F1 #A5D8DD
