
// $primary: mediumvioletred;
// $secondary : darkslateblue;
// $text-white : white;
// $card-bg : gainsboro;

$primary: #1C4E80;
$secondary : #0091D5;
$third : #EA6A47;
$text-white : #F1F1F1;

$card-bg : #fa9f1b;
$card-label : #5f9ea0;
$pcard : #E1E5EE;
$card1 : #FFD3C0;
$card2 :#F3BCF3;
$card3 :#A0F5CE;
$card4 : #D8BBFE;
$card5 : #A3E3FE;
$card6 : #FEB7B9;
$card7 : #FFD670;
$card8 : #C2FCF7;
$card9 : #F0F0C9;
$card10 :#BBA0B2;

$colors : #7E909A #202020 #EA6A47 #1C4E80 #0091D5 #F1F1F1 #A5D8DD #5f9ea0
