<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="pt-5 pl-3" *ngIf="isPrevPage">
    <mat-icon class="cursor-pointer" (click)="onPreviousPage()">arrow_back</mat-icon>
</div>
<p-toolbar>
    <div class="p-toolbar-group-start">
        <input type="text" pInputText placeholder="Search Fields" (input)="applyFilterGlobal($event, 'contains')" />
    </div>
    <div class="p-toolbar-group-center">
        <p-dropdown [options]="statusTypes" [(ngModel)]="selectedStatusType"
            (onChange)="onStatusChange($event)" optionLabel="label" [showClear]="true" [filter]="true"
            placeholder="Filter by Employee Status">
        </p-dropdown>
    </div>
    <div class="p-toolbar-group-end">
        <p-button label="Attendance" icon="pi pi-plus" class="mr-2" (click)="onAddAttendance()"></p-button>
        <p-button label="Employee" icon="pi pi-plus" class="mr-2" (click)="onAddEmployee()"></p-button>
    </div>
</p-toolbar>
<div class="card mx-4 mb-8" *ngIf="entities.length > 0">
    <div class="mb-5">
        <p-table #tableref [value]="entities" [paginator]="true" [columns]="cols" [rows]="5"
            [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '60rem' }" [reorderableColumns]="true"
            [alwaysShowPaginator]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25, 50]">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:10%; text-align: center !important;">S.No</th>
                    <ng-container *ngFor="let col of cols">
                        <th *ngIf="!isArrayCheck(col.field)" [pSortableColumn]="col.field"
                            style="flex-grow: 1; text-align: center !important;">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center;">{{rowIndex+1}}</td>
                    <ng-container *ngFor="let col of columns">
                        <td style="text-align: center;" *ngIf="!isArrayCheck(col.field)">
                            <ng-container *ngIf="isDateField(rowData[col.field], col.field)">{{
                                rowData[col.field] | dateformat }}</ng-container>
                            <ng-container *ngIf="!isDateField(rowData[col.field], col.field)">
                                <ng-container *ngIf="rowData['isUniqueField'] != col.field">
                                    {{rowData[col.field] }}
                                </ng-container>
                                <ng-container *ngIf="rowData['isUniqueField'] == col.field">
                                    <a class="nav-link"
                                        (click)="onNavClick(rowData[col.field], col.field)">{{rowData[col.field] }}</a>
                                </ng-container>
                            </ng-container>
                        </td>
                    </ng-container>
                    <td>
                        <span [ngClass]="checkEMployeeStatus(rowData['status'])">{{rowData['status'] | titlecase}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length" style="text-align: center;">
                        No records found.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>