
  @import "src/_variables.scss";

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  mat-form-field{
    width: 100%;
  }

  .material-icons {
    color: $primary !important;
    font-size: 28px;
  }

  .page-spinner {
    position: fixed;
    top: 30%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: auto;
  }